
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

/* Component styling */
.table-area {
    padding-top: 10px;
    padding-bottom: 10px;

    table {
        thead {
            background-color: #eeeeee;

            tr {
                th {
                    border-right: 1px gray dotted;
                    cursor: pointer;
                    user-select: none; /* CSS3 (little to no support) */
                    -ms-user-select: none; /* IE 10+ */
                    -moz-user-select: none; /* Gecko (Firefox) */
                    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
                    border-bottom: none;

                    &.nosort {
                        cursor: default;
                    }
                }
            }
        }
    }
}
